.navbar {
    background-color: #27313B;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-height: 200px;
}

.navbar-logo {
    padding: 50px;
    margin-right: auto;
}

.menu-button {
    margin-top: 62px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: #27313B;
}