.navbar {
    background-color: #27313B;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-height: 150px;
}

.navbar-logo {
    padding: 50px;
    margin-right: auto;
}

.menu-button {
    border: none;
    background: none;
    margin-top: 62px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.menu-image {
    padding: none;
}