:root {
    --bg-colour: #27313B;
    --gradient-1: linear-gradient(180deg, #FF76A5 0%, #C067E2 100%);
    --gradient-2: linear-gradient(122.18deg, #C067E2 13.81%, #749BFF 85.95%);
    --gradient-3: linear-gradient(230.6deg, #FF76A5 13.56%, #FE8C5A 87.82%);
    --gradient-4: linear-gradient(242.5deg, #FE8C5A 25.46%, #F7BF00 89.55%);
    --gradient-5: linear-gradient(116.42deg, #749BFF 22.88%, #FFCD20 91.67%);
    --blue: #749BFF;
    --purple: #C067E2;
    --pink: #FF76A5;
    --orange: #FE8C5A;
    --yellow: #FFCE1F;
    --main-text: #fff;

    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat';
    font-style: normal;

    scroll-behavior: smooth;
    background-color: var(--bg-colour);
}

.Wrapper {
    display: flex;
    flex-direction: row;
}

.CircleWrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    justify-content: center;
}

.CoopGradient {
    display: flex;
    background: linear-gradient(242.5deg, #FE8C5A 25.46%, #F7BF00 89.55%);;
    mix-blend-mode: normal;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    margin-top: 1vh;
    justify-content: center;
}

.AcademicsGradient {
    display: flex;
    background: linear-gradient(230.6deg, #FF76A5 13.56%, #FE8C5A 87.82%);
    mix-blend-mode: normal;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    justify-content: center;
}

.DemographicsGradient {
    display: flex;
    background: linear-gradient(180deg, #FF76A5 0%, #C067E2 100%);
    mix-blend-mode: normal;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    justify-content: center;
}

.HighSchoolGradient {
    display: flex;
    background: linear-gradient(122.18deg, #C067E2 13.81%, #749BFF 85.95%);
    mix-blend-mode: normal;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    justify-content: center;
}

.LifeStyleGradient {
    display: flex;
    background: linear-gradient(116.42deg, #749BFF 22.88%, #FFCD20 91.67%);
    mix-blend-mode: normal;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    justify-content: center;
}

.BlackCircle {
    display: flex;
    background-color: var(--bg-colour);
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin-top: 2vh;
}

.Text {
    font-size: 24px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    align-self: center;
    color: var(--main-text);
}