:root {
    --bg-colour: #27313B;
    --gradient-1: linear-gradient(180deg, #FF76A5 0%, #C067E2 100%);
    --gradient-2: linear-gradient(122.18deg, #C067E2 13.81%, #749BFF 85.95%);
    --gradient-3: linear-gradient(230.6deg, #FF76A5 13.56%, #FE8C5A 87.82%);
    --gradient-4: linear-gradient(242.5deg, #FE8C5A 25.46%, #F7BF00 89.55%);
    --gradient-5: linear-gradient(116.42deg, #749BFF 22.88%, #FFCD20 91.67%);
    --blue: #749BFF;
    --purple: #C067E2;
    --pink: #FF76A5;
    --orange: #FE8C5A;
    --yellow: #FFCE1F;
    --main-text: #fff;

    // font-size: 18px;
    line-height: 22px;
    font-family: 'Nunito Sans';
    font-style: normal;

    scroll-behavior: smooth;
    background-color: var(--bg-colour);
}

.UltimateWrapper {
    max-height: 88.5vh;
    overflow: hidden;
}

.InstructionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    color: #A9ADB1;
    font-size: 16px;
}

.Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1.5vw;
    // transition: 2s;
}

.CircleWrapper {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    justify-content: center;
    // transition: 2s;
}

.CoopGradient,
.CoopChange {
    display: flex;
    background: linear-gradient(242.5deg, #FE8C5A 25.46%, #F7BF00 89.55%);
    ;
    mix-blend-mode: normal;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    justify-content: center;
    // transition: 2s;
}

.AcademicsGradient,
.AcademicsChange {
    display: flex;
    background: linear-gradient(230.6deg, #FF76A5 13.56%, #FE8C5A 87.82%);
    mix-blend-mode: normal;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    justify-content: center;
    // transition: 2s;
}

.DemographicsGradient,
.DemographicsChange {
    display: flex;
    background: linear-gradient(180deg, #FF76A5 0%, #C067E2 100%);
    mix-blend-mode: normal;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    justify-content: center;
    // transition: 2s;
}

.HighSchoolGradient,
.HighSchoolChange {
    display: flex;
    background: linear-gradient(122.18deg, #C067E2 13.81%, #749BFF 85.95%);
    mix-blend-mode: normal;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    justify-content: center;
    // transition: 2s;
}

.LifeStyleGradient,
.LifeStyleChange {
    display: flex;
    background: linear-gradient(116.42deg, #749BFF 22.88%, #FFCD20 91.67%);
    mix-blend-mode: normal;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    justify-content: center;
    // transition: 2s;
}

.BlackCircle {
    display: flex;
    background-color: var(--bg-colour);
    //make small changes depending on media size
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin-top: 2vh;
    transition: 2s;
}

.Text {
    font-size: 24px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    align-self: center;
    color: var(--main-text);
    text-align: center;
    margin: 0 auto;

}

section:first-child {
    margin-top: 9%;
    z-index: 0;
    margin-right: -5%;
}

section:nth-of-type(2) {
    margin-top: 6%;
    z-index: 5;
    margin-right: -5%;
}

section:nth-of-type(3) {
    margin-top: 3%;
    z-index: 10;
}

section:nth-of-type(4) {
    margin-top: 6%;
    z-index: 5;
    margin-left: -5%;
}

section:last-child {
    margin-top: 9%;
    z-index: 0;
    margin-left: -5%;
}

.Blurb {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-left: 19% !important;
    margin-right: 19% !important;
}

.DemographicsGradient .Blurb,
.DemographicsChange .Blurb {
    margin-left: 16% !important;
    margin-right: 16% !important;
}

div[class*="Change"] {
    transform: scale(1.25);
    transition: 2s;
}

.BottomCircle {
    display: flex;
    margin-left: -27.5vw;
    width: 155vw;
    height: 175vh;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
}

h4 {
    margin-bottom: -1.5vh;
}

.DescriptionTextWrapper {
    text-align: center;
    color: #27313B;
    margin-top: 4vh;
    font-size: 16px;
    width: 25vw;
}

@media screen and (min-width: 1920px) {
    .UltimateWrapper {
        max-height: 90vh;
    }

    .BlackCircle {
        margin-top: 1.5vh;
    }

    section:first-child {
        margin-right: -3.5%;
    }

    section:nth-of-type(2) {
        margin-right: -3.5%;
    }

    section:nth-of-type(4) {
        margin-left: -3.5%;
    }

    section:last-child {
        margin-left: -3.5%;
    }

    h4 {
        margin-bottom: -1.5vh;
    }

    .BottomCircle {
        margin-top: 3vh;
        height: 200vh;
    }

    .DescriptionTextWrapper {
        width: 20vw;
        margin-top: 8vh;
    }
}