.about {
    margin-top: 4.45em;
}
.classPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 1.7em;
}

.heading {
    color: #fff;
    margin-top: 1.65em;
    white-space: nowrap;
}

.descriptions {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: left;
    width: 50%;
}

.textBox {
    width: 100%;
    max-width: 440px;
    margin-top: 1em;
}

.two {
    margin-left: 3em;
}

.credit {
    margin-top: 3.55em;
    display: block;
    margin-left: 25%;
    margin-bottom: 0;
}

.credit > h3 {
    color: #fff;
    margin-bottom: 0;
}

.team {
    display: inline;
}

.avatarRow {
    display: inline;
    vertical-align: middle;
    margin-left: 2em;
}

.design, .data, .software {
    margin-bottom: 2.5em;
}

.design {
    margin-top: 1.4em;
}

.links {
    color: white;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.25em;
    padding-top: 0.6em;
}

.links>h3 {
    color: #fff;
    margin-bottom: 1em;
    margin-top: 0;
}

.icon {
    height: 25px;
    width: auto;
    margin-right: 0.9em;
}

.linkText {
    margin-right: 3.8em;
    text-decoration: underline;
    display: inline;
}