html, body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    // overflow: hidden;

    scrollbar-color: transparent transparent;
}


:root {
    --bg-colour: #27313B;
    --gradient-1: linear-gradient(180deg, #FF76A5 0%, #C067E2 100%);
    --gradient-2: linear-gradient(122.18deg, #C067E2 13.81%, #749BFF 85.95%);
    --gradient-3: linear-gradient(230.6deg, #FF76A5 13.56%, #FE8C5A 87.82%);
    --gradient-4: linear-gradient(242.5deg, #FE8C5A 25.46%, #F7BF00 89.55%);
    --gradient-5: linear-gradient(116.42deg, #749BFF 22.88%, #FFCD20 91.67%);
    --blue: #749BFF;
    --purple: #C067E2;
    --pink: #FF76A5;
    --orange: #FE8C5A;
    --yellow: #FFCE1F;
    --main-text: #fff;
}

// *{
//     max-width: 95% !important;
// }



// h1.insyder{ 
//     margin-left: 22%;
//     margin-right: 22%;
// }

// body{
//     overflow: hidden;
//     // margin-left: 22%;
// }
// .insyder--title{
//     // display: flex;
//     // justify-content: space-between !important;
//     margin-left: 22% !important;
// }

.insyder--window{
    display: flex;
    justify-content: center;
}


.insyder--box{
    // margin-left: 22%;
    // margin-right: 22%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    // width: 200%;
}

// .it{
//     margin-left: 10%;
//     margin-right: 10%;
// }
// .image-list-item{
//     margin-right: 23px;
// }

// @media screen and (max-width: 600px) {

//     .body{
//         width: 33% !important; 
//     }
//     .image-list{
//         width: 33%;
//     }
//     // .insyder{
//     //     position: relative;
//     //     // max-width: 400px;
//     // }
    
// }

@media only screen and (max-width: 2000px){
    .insyder--title{
        margin-left: 28% !important;
    }
}



@media only screen and (max-width: 1600px){
    .insyder--title{
        margin-left: 22% !important;
    }
}

@media only screen and (max-width: 1360px){
    // .box{
    //     margin-left: 18%;
    //     margin-right: 18%;
    //     // width: 200%;
    // }
    .insyder--title{
        margin-left: 17% !important;
        // margin-right: 18%;
    }
}

@media only screen and (max-width: 1260px){
   
    // .box{
    //     margin-left: 17%;
    //     // margin-right: 19%;
    //     // width: 200%;
    
    .insyder--title{
        margin-left: 11% !important;
    }
}

@media only screen and (max-width: 1165px){
    // .box{
    //     margin-left: 14%;
    //     // margin-right: 19%;
    //     // width: 200%;
    // }
    .insyder--title{
        margin-left: 10% !important;
    }
}

@media only screen and (max-width: 1065px){
    // .box{
    //     margin-left: 10%;
    //     // margin-right: 19%;
    //     // width: 200%;
    // }
    .insyder--title{
        margin-left: 10% !important;
    }
}

@media only screen and (max-width: 850px){
    .insyder--title{
        margin-left: 9% !important;
    }
}

// @media only screen and (max-width: 500px){

//     .insyder--title{
//         margin-left: 7% !important;
//     }
// }

// @media only screen and (max-width: 450px){
//     .insyder--title{
//         margin-left: 8% !important;
//     }
// }

::-webkit-scrollbar {
    display: none;
  }

.image-list-item > img{
    max-width: 100% !important;
    // widht
    height: auto !important;
}

.image-list-item:hover{
    filter: brightness(50%);
    .textOnTop{
        display: block !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 100%;
        font-weight: 900;
        z-index: 2;
        filter: bightness(250%);
        letter-spacing: 5%;
        line-height: 1.25em;
        font-size: 1.25em;
        text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
        font-family: 'Lexend';
    }
}

.circle1IP {
    position: absolute;
    background-size: cover;
    max-width: 60%;
    margin-top: 0vh;
    filter: blur(8px);
    -webkit-filter: blur(80px);
    z-index: 0;
    left: 0%;
}

.circle2IP {
    position: absolute;
    background-size: cover;
    margin-top: -20vh;
    filter: blur(8px);
    -webkit-filter: blur(80px);
    z-index: 0;
    right: 0%;
    top: 200%;
}

.circle3IP {
    position: absolute;
    background-size: cover;
    max-width: 110%;
    margin-top: -20vh;
    left: -10%;
    filter: blur(8px);
    -webkit-filter: blur(80px);
    z-index: 0;
    top: 300%;
}

.circle4IP{
    position: absolute;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(80px);
    right: 0%;
    top: 350%;
}