.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 1248px;
}

.menu-button {
    margin-top: 60px;
    margin-right: 50px;
    margin-left: auto;
}