.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-logo {
    margin-top: 50px;
    margin-left: 50px;
}

.menu-item {
    margin-top: 60px;
    margin-right: 50px;
    margin-left: auto;
}