@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Montserrat&display=swap');

.heart {
  height: 1.125rem;
}

.Footer {
  border: none;
  color: #fff;
  margin: 0px auto 2.5rem auto;
  width: 70%;
  text-align: center;
}

.CreatedBy p {
  margin: 0px;
  padding: 0px;
}

#ScrollToTop {
  background-image: conic-gradient(from 180deg at 50% 50%, #749BFF 0deg, #C067E2 93.75deg, #FF76A5 183.75deg, #FE8C5A 273.75deg, #FFCE1F 360deg);
  display: inline-block;
  position: fixed;
  right: 1.5625rem;
  bottom: 2.5rem;
}