@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Montserrat&display=swap');

.heart {
  height: 1.125rem;
}

.Footer {
  border: none;
  color: #fff;
  margin: 0px auto 2.5rem auto;
  width: 50%;
  text-align: center;
}

.CreatedBy p {
  margin: 0px;
  padding: 0px;
}

#ScrollToTop {
  background-image: linear-gradient(116.42deg, #749BFF 22.88%, #FFCD20 91.67%);
  display: inline-block;
  position: absolute;
  right: 1.5625rem;
}