@import 'styles/globals.scss';

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #27313B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.close-section {
    display: flex;
    height: 20%;
    width: 100%;
    padding: none;
}

.close-button {
    border: none;
    background: none;
    margin-top: 4em;
    margin-left: auto;
    margin-right: 65px;
    margin-bottom: auto;
    max-height: 40px;
    max-width: 40px;
    padding: none;
}

.close-button:hover {
    opacity: 0.5;
}

.close-icon {
    padding: none;
    margin: none;
}

.profile-button {
    height: 14%;
    border: none;
    background: none;
    display: flex;
    align-items: center;

    .number-text {
        color: white;
        font-weight: 300;
        margin-left: 5%;
    }

    .page-text {
        color: white;
        font-weight: 300;
        margin-left: 2.5%;
        margin-right: auto;
        line-height: 0;
    }
}

.profile-button:hover {
    opacity: 0.5;
}

.profile-subsection {
    height: 10%;
    border: none;
    display: flex;
    background: none;
    align-items: center;
    padding-top: 1%;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.demographics-button {
    background: none;
    border: none;
    max-height: 75%;
    min-width: 16%;
    margin-top: 0;
    margin-bottom: auto;

    .section-text {
        color: white;
        font-weight: 100;
        font-size: 75%;
        line-height: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: auto;
    }
}

.demographics-button:hover {
    opacity: 0.5;
}


.hs-button {
    background: none;
    border: none;
    max-height: 75%;
    min-width: 16%;
    margin-top: 0;
    margin-bottom: auto;

    .section-text {
        color: white;
        font-weight: 100;
        font-size: 75%;
        line-height: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: auto;
    }
}

.hs-button:hover {
    opacity: 0.5;
}


.academics-button {
    background: none;
    border: none;
    max-height: 75%;
    min-width: 16%;
    margin-top: 0;
    margin-bottom: auto;

    .section-text {
        color: white;
        font-weight: 100;
        font-size: 75%;
        line-height: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: auto;
    }
}

.academics-button:hover {
    opacity: 0.5;
}

.coop-button {
    background: none;
    border: none;
    max-height: 75%;
    min-width: 8%;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 0;
    

    .section-text {
        color: white;
        font-weight: 100;
        font-size: 75%;
        line-height: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: auto;
    }
}

.coop-button:hover {
    opacity: 0.5;
}

.lifestyle-button {
    background: none;
    border: none;
    max-height: 75%;
    min-width: 16%;
    margin-top: 0;
    margin-bottom: auto;

    .section-text {
        color: white;
        font-weight: 100;
        font-size: 75%;
        line-height: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: auto;
    }
}

.lifestyle-button:hover {
    opacity: 0.5;
}

.about-button {
    height: 18%;
    border: none;
    background: none;
    display: flex;
    align-items: center;

    .number-text {
        color: white;
        font-weight: 300;
        margin-left: 5%;
    }

    .page-text {
        color: white;
        font-weight: 300;
        margin-left: 2.5%;
        margin-right: auto;
    }
}

.about-button:hover {
    opacity: 0.5;
}

.photo-gallery-button {
    height: 18%;
    border: none;
    background: none;
    display: flex;
    align-items: center;

    .number-text {
        color: white;
        font-weight: 300;
        margin-left: 5%;
    }

    .page-text {
        color: white;
        font-weight: 300;
        margin-left: 2.5%;
        margin-right: auto;
    }
}

.photo-gallery-button:hover {
    opacity: 0.5;
}

.meme-page-button {
    height: 18%;
    border: none;
    background: none;
    display: flex;
    align-items: center;

    .number-text {
        color: white;
        font-weight: 300;
        margin-left: 5%;
    }

    .page-text {
        color: white;
        font-weight: 300;
        margin-left: 2.5%;
    }

    .lock-icon {
        margin-left: 1%;
        margin-right: auto;
    }
}

.meme-page-button:hover {
    opacity: 0.5;
}