.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.close-button {
    border: none;
    background: none;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 65px;
    max-height: 40px;
    max-width: 40px;
    padding: none;
}

.close-icon {
    padding: none;
    margin: none;
}
