:root {
    --bg-colour: #27313B;
    --main-gradient: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    --gradient-1: linear-gradient(180deg, #FF76A5 0%, #C067E2 100%);
    --gradient-2: radial-gradient(80.69% 208.78% at 108.28% 112.58%, #EABFFF 0%, rgba(135, 38, 183, 0) 100%),
        radial-gradient(80.38% 222.5% at -13.75% -12.36%, #749BFF 0%, rgba(255, 255, 255, 0) 100%);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.circle1 {
    position: absolute;
    background-size: cover;
    max-width: 60%;
    margin-top: 0vh;
    filter: blur(8px);
    -webkit-filter: blur(80px);
}

.circle2 {
    position: absolute;
    background-size: cover;
    margin-top: -30vh;
    filter: blur(8px);
    -webkit-filter: blur(80px);
}

.circle3 {
    position: absolute;
    background-size: cover;
    max-width: 110%;
    margin-top: -20vh;
    left: -40%;
    filter: blur(8px);
    -webkit-filter: blur(80px);
}


.headingRight {
    color: #FFFFFF;
    margin-top: 1.65em;
    margin-right: 20em;
    position: absolute;
    left: 120%;
    top: 15%;
}

.headingLeft {
    color: #FFFFFF;
    margin-top: 1.65em;
    margin-right: 20em;
    position: absolute;
    right: 40%;
    top: 15%;
}

.headingLeftDec {
    color: #FFFFFF;
    margin-top: 1.65em;
    margin-right: 20em;
    position: absolute;
    right: 40%;
    top: 15%;
}

.buttons {
    right: 14%;
    position: absolute;
    top: 24vh;
    display: flex;
    gap: 13px;
}

.textButton {
    font-family: 'Montserrat';
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    color: #a5a5a5;
    font-size: 2.1vh;
    cursor: pointer;
    z-index: 10;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 1rem;
    background-image: radial-gradient(80.69% 208.78% at 108.28% 112.58%, #EABFFF 0%, rgba(135, 38, 183, 0) 100%),
        radial-gradient(80.38% 222.5% at -13.75% -12.36%, #749BFF 0%, rgba(255, 255, 255, 0) 100%);
    top: 0;
    bottom: 0;
    left: 49.6%;
    margin-left: -3px;
    border-radius: 10px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background: radial-gradient(80.69% 208.78% at 108.28% 112.58%, #EABFFF 0%, rgb(77, 109, 156) 100%),
        radial-gradient(80.38% 222.5% at -13.75% -12.36%, #5c82e4 0%, rgb(230, 207, 207) 100%);
    border: 4px solid #749BFF;
    top: 150px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    :root {
        h1 {
            margin: 40px 30px 160px;
        }
    }

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 40px;
    }

    .buttons {
        right: 47%;
        position: absolute;
        top: 30%;
        display: flex;
        gap: 13px;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 18px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

    .headingRight {
        margin-top: 1.65em;
        margin-right: 1em;
        position: absolute;
        left: 17%;
        top: 15%;
    }

    .headingLeft {
        margin-top: 1.65em;
        margin-right: 114%;
        position: absolute;
        right: -71%;
        top: 15%;
    }

    .headingLeftDec {
        margin-top: 1.65em;
        margin-right: 108%;
        position: absolute;
        right: -71%;
        top: 15%;
    }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width:1590px) {
    :root {
        h1 {
            margin: 80px 6%;
            position: static;
        }
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 699px) {

  } 
